includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - config
        - database
        - routes
        - tests

    # Level 0-9 (0 = least strict, 9 = most strict)
    level: 5

    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        - message: '#Call to an undefined method#'
          paths:
            - tests/*
